<!DOCTYPE html>
<html>

<head>
    <title>Danh sách học phần</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th,
        td {
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        
        th {
            background-color: lightblue;
            color: black;
        }
        
        h1 {
            text-align: center;
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/home">Student Management System</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </nav>
    <h1>Danh sách học phần</h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Mã học phần</th>
                    <th>Tên học phần</th>
                    <th>Mô tả</th>
                    <th>Tín chỉ thực hành</th>
                    <th>Tín chỉ lý thuyết</th>
                    <th>Số tín chỉ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HP001</td>
                    <td>Lập trình Java căn bản</td>
                    <td>Học cách lập trình Java từ cơ bản đến nâng cao</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>HP002</td>
                    <td>Kỹ năng làm việc nhóm</td>
                    <td>Học cách làm việc nhóm hiệu quả</td>
                    <td>0</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>HP003</td>
                    <td>Giải tích 1</td>
                    <td>Học về giải tích và ứng dụng trong các bài toán</td>
                    <td>2</td>
                    <td>2</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>HP004</td>
                    <td>Phân tích thiết kế hệ thống thông tin</td>
                    <td>Học về phân tích và thiết kế hệ thống thông tin</td>
                    <td>1</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>HP005</td>
                    <td>Quản trị dự án</td>
                    <td>Học về quản trị dự án và các phương pháp quản lý</td>
                    <td>0</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>HP006</td>
                    <td>Cơ sở dữ liệu</td>
                    <td>Học về cơ sở dữ liệu và các kiến thức liên quan</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>HP007</td>
                    <td>Thiết kế giao diện người dùng</td>
                    <td>Học về thiết kế giao diện người dùng</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>HP008</td>
                    <td>Lập trình hướng đối tượng</td>
                    <td>Học về lập trình hướng đối tượng</td>
                    <td>2</td>
                    <td>2</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>HP009</td>
                    <td>Xử lý ảnh</td>
                    <td>Học về xử lý ảnh</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>HP010</td>
                    <td>Lập trình web</td>
                    <td>Học về lập trình web</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>HP021</td>
                    <td>Truyền thông đa phương tiện</td>
                    <td>Học về truyền thông đa phương tiện và kỹ thuật kỹ thuật số</td>
                    <td>2</td>
                    <td>2</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>HP065</td>
                    <td>Quản lý dự án phần mềm</td>
                    <td>Học về quản lý dự án phần mềm và kỹ năng quản lý</td>
                    <td>2</td>
                    <td>2</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>HP102</td>
                    <td>Kiểm thử phần mềm</td>
                    <td>Học về kỹ thuật kiểm thử phần mềm</td>
                    <td>1</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>HP157</td>
                    <td>Trí tuệ nhân tạo</td>
                    <td>Học về trí tuệ nhân tạo và học máy</td>
                    <td>1</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>HP204</td>
                    <td>Lập trình nâng cao</td>
                    <td>Học về lập trình ứng dụng nâng cao</td>
                    <td>3</td>
                    <td>1</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>HP303</td>
                    <td>Hệ điều hành</td>
                    <td>Học về hệ điều hành và bảo mật hệ thống</td>
                    <td>1</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>HP408</td>
                    <td>Phát triển ứng dụng di động</td>
                    <td>Học về phát triển ứng dụng di động và responsive design</td>
                    <td>2</td>
                    <td>2</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>HP509</td>
                    <td>Mạng máy tính</td>
                    <td>Học về mạng máy tính và các giao thức mạng</td>
                    <td>1</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>

    
</body>

</html>