</html>
<!DOCTYPE html>
<html>

<head>
    <title>Danh sách học phần</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        h1 {
            text-align: center;
            text-transform: uppercase;
        }
    </style>
</head>

<body style="background-image: url('thanhdobg.png');">
    <nav class=" navbar navbar-expand-md bg-dark navbar-dark ">
        <!-- Brand -->

        <a class="navbar-brand " href="/ ">Student Management System</a>
        <h1 style="float: right;margin-left: 100px; color:white">Thanh Do University</h1>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#collapsibleNavbar ">
        <span class="navbar-toggler-icon "></span>
    </nav>
    <div>
        <img src="/images/thanhdobg.png" alt=" " style="width: 100%; height: 100%; ">
    </div>
    

    
</body>

</html>